.header{
    margin: 10px 0;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo p{
    font-family: "Noto Sans KR", sans-serif;
}
.subtitle{
    display: flex;
    gap: 20px;
}
.subtitle p{
    cursor: pointer;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}