.navbar {
  border-bottom: 1px solid #b7b7b7;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;

  a {
    font-family: "Noto Sans KR";
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color: var(--dark);

    &.active {
      color: var(--blue);
      border-bottom: 2px solid var(--blue);
    }
  }
}

.navbar__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 30px;
}
