@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --gray: #DADDE0;
  --blue: #1591EA;
  --white: #ffffff;
  --active-blue: #045c9b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 20px 10%;
}