@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --gray: #dadde0;
  --blue: #1591ea;
  --white: #ffffff;
  --active-blue: #045c9b;
  --dark: #2f3438;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 10%;
}
