.banner {
  padding: 130px 0px;
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
}

.big-banner {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: end;
}

.big-banner::after {
  content: 'Дизайн интерьера комнаты: интересные идеи оформления';
  position: relative;
  min-width: 500px;
  z-index: 3;
  font-weight: 500;
  font-size: 28px;
  color: white;
  right: calc(95%);
  bottom: calc(5%);
}

.small-banner {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif !important;
  color: #2c2c2c;
}

.icons {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.carousel {
  font-family: 'Inter', sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.zoom:hover {
  transform: scale(1.2);
}
.zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}
