.banner {
    padding: 40px 0px;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
}

.big-banner {
    cursor: pointer;
    display: flex;
    align-items: end;
}

.big-banner::after {
    content: 'Дизайн интерьера комнаты: интересные идеи оформления';
    position: relative;
    min-width: 500px;
    z-index: 3;
    font-weight: 500;
    font-size: 28px;
    color: white;
    right: calc(95%);
    bottom: calc(5%);
}

.small-banner {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif !important;
    color: #2C2C2C;
}

.icons {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.icon-item {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.icon-item p {
    display: block;
    white-space: pre-wrap;
    text-wrap: wrap;
}

.icon-image {
    padding: 10px;
    display: flex;
    background-color: #F3F3F3;
    border-radius: 20px;
    width: fit-content;
    justify-content: center;
}

.icon-item img {
    height: 40px;
}

.carousel {
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.carousel-content {
    padding: 20px 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    align-items: flex-start;
    flex: 1 0 16.66%;
    max-width: 16.66%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-icon {
    position: relative;
    display: flex;
    align-items: end;
    z-index: 3;
    width: 0;
    left: 15px;
    bottom: 20px;
    color: white;
}

.person-info {
    display: flex;
    align-items: center;
}

.person-icon img {
    width: 32px;
}

.saves {
    position: relative;
    width: 0px;
    right: calc(45px);
    top: 10px;
}

.carousel-content-r {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-item-r img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.discount-carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.zoom:hover {
    transform: scale(1.1);
}
.zoom{
    transition: transform 0.3s ease;
    cursor: pointer;
}